div#titleDiv {
	font-size: x-large;
	color: navy;
	font-weight: bold;
}

div#floater {
    position: relative;
    left: 200px;
    top: 50px;
    background-color: green;
    width: 100px;
    height: 100px;
}

div#furtherContent {
		color: red;
		font-size: 30px;
}
